
<header>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">EWeather <span class="version">{{version}}</span></a>
    <div>
      <form (ngSubmit)="onSubmit(location)" #locationForm="ngForm">
        <div class="form-inline">
          <div class="md-form my-0">
            <input type="text" class="form-control" id="location"
                   required
                   [(ngModel)]="this.location" name="location">
          </div>
          <button type="submit" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!locationForm.form.valid">Submit</button>
        </div>
      </form>
    </div>
  </nav>
</header>
<br>
